<div class="buttonReturn">
  <button routerLink="/dashboard/home" mat-flat-button>
    <mat-icon>arrow_back_ios</mat-icon>
    Volver
  </button>
</div>
<h1 appFontSizeDirective>Gestor de Inscripciones</h1>
<div class="formContainer">
  <div class="buttonContainer">
    <button (click)="openInscriptionDialog()" mat-flat-button>
      Crear Inscripcion
    </button>
  </div>
  <div class="tableBodyCursos">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th class="acctionText" mat-header-cell *matHeaderCellDef>ID</th>
        <td class="acctionText" mat-cell *matCellDef="let element">
          {{ element.id }}
        </td>
      </ng-container>

      <ng-container matColumnDef="fullName">
        <th class="acctionText" mat-header-cell *matHeaderCellDef>
          Nombre y Apellido
        </th>
        <td class="acctionText" mat-cell *matCellDef="let element">
          {{ element.student | fullName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th class="acctionText" mat-header-cell *matHeaderCellDef>Email</th>
        <td class="acctionText" mat-cell *matCellDef="let element">
          {{ element.student.email }}
        </td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th class="acctionText" mat-header-cell *matHeaderCellDef>Telefono</th>
        <td class="acctionText" mat-cell *matCellDef="let element">
          {{ element.student.phone }}
        </td>
      </ng-container>
      <ng-container matColumnDef="courseName">
        <th class="acctionText" mat-header-cell *matHeaderCellDef>Curso</th>
        <td class="acctionText" mat-cell *matCellDef="let element">
          {{ element.course.nameCourse }}
        </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th class="acctionText" mat-header-cell *matHeaderCellDef>Precio</th>
        <td class="acctionText" mat-cell *matCellDef="let element">
          $ {{ element.course.price }}
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th class="acctionText" mat-header-cell *matHeaderCellDef>Acciones</th>
        <td class="actionButton" mat-cell *matCellDef="let element">
          <button [routerLink]="element.id" mat-icon-button class="buttonEdit">
            <mat-icon>visibility</mat-icon>
          </button>
          <button
            (click)="showModalDeleted(element.id)"
            mat-icon-button
            color="warn"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
