h1{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
}
.formUserContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.tableBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-bottom: 20px;  
}
.buttonContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
}
.buttonContainer button{
    color: white;
    background-color: #6930C3;
}

.buttonReturn{
    margin-left: 30px;
    margin-top: 20px;
    display: flex;
    justify-content: start;
    margin-bottom: 50px;
}
.buttonReturn button{
    color: white;
    background-color: #6930C3;
}


.accordeonBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%; 
}
.accordeonBody mat-expansion-panel{
display: flex;
width: fit-content;
justify-content: center;
align-items: center;
flex-direction: column;
}
.accordeonBody mat-expansion-panel-header{
    width: 30%;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.accordeonBody mat-panel-title h3{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-left: 15px;
}

.buttonEdit{
    color: #6930C3;
}

.acctionText{
    text-align: center;
}
.actionButton{
    text-align: center;
}