<h1 appFontSizeDirective>Detalles de inscripciones</h1>
<div class="formContainer">
  
  <div class="tableBodyCursos">
    <table [dataSource]="dataSource" mat-table  class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th class="acctionText" mat-header-cell *matHeaderCellDef>ID</th>
        <td class="acctionText" mat-cell *matCellDef="let element">
          {{ element.id }}
        </td>
      </ng-container>

      <ng-container matColumnDef="fullName">
        <th class="acctionText" mat-header-cell *matHeaderCellDef>
          Nombre y Apellido
        </th>
        <td class="acctionText" mat-cell *matCellDef="let element">
          {{ element.user | fullName}} 
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th class="acctionText" mat-header-cell *matHeaderCellDef>Email</th>
        <td class="acctionText" mat-cell *matCellDef="let element">
          {{ element.user.email }}
        </td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th class="acctionText" mat-header-cell *matHeaderCellDef>Telefono</th>
        <td class="acctionText" mat-cell *matCellDef="let element">
          {{ element.user.phone }}
        </td>
      </ng-container>
      <ng-container matColumnDef="course">
        <th class="acctionText" mat-header-cell *matHeaderCellDef>Curso</th>
        <td class="acctionText" mat-cell *matCellDef="let element">
            {{ element.course.nameCourse}} </td>
      </ng-container>
      <ng-container matColumnDef="start">
        <th class="acctionText" mat-header-cell *matHeaderCellDef>Fecha de Inicio</th>
        <td class="acctionText" mat-cell *matCellDef="let element">
            {{ element.course.start | date : "dd/MM/YYYY"}} </td>
      </ng-container>
      <ng-container matColumnDef="end">
        <th class="acctionText" mat-header-cell *matHeaderCellDef>Fecha de Finalizacion</th>
        <td class="acctionText" mat-cell *matCellDef="let element">
          {{ element.course.end | date : "dd/MM/YYYY"}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th class="acctionText" mat-header-cell *matHeaderCellDef>Precio</th>
        <td class="acctionText" mat-cell *matCellDef="let element">$ {{element.course.price}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
