.app-loading {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.253);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-mdc-progress-spinner.mat-primary {
  --mdc-circular-progress-active-indicator-color: #6930c3;
}
