<mat-drawer-container class="dashboardCointainer" autosize>
  <mat-drawer #drawer class="sidenavContainer" mode="side">
    <ul>
      <li>
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="home"
        ></mat-icon
        ><a routerLink="home" routerLinkActive="active">Inicio</a>
      </li>
      <li routerLink="users">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="group_add"
        ></mat-icon
        ><a  routerLinkActive="active">Usuarios</a>
      </li>
      <li routerLink="students">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="record_voice_over"
        ></mat-icon
        ><a  routerLinkActive="active">Alumnos</a>
      </li>
      <li routerLink="courses">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="class"
        ></mat-icon
        ><a  routerLinkActive="active">Cursos</a>
      </li>
      <li routerLink="inscriptions">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="add_to_photos"
        ></mat-icon
        ><a  routerLinkActive="active"
          >Inscripciones</a
        >
      </li>
      <li>
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="exit_to_app"
        ></mat-icon
        ><a (click)="logout()">Cerrar sesion</a>
      </li>
    </ul>
  </mat-drawer>
  <div class="">
    <mat-toolbar color="primary" class="navbarContainer">
      <div class="iconHomeContainer">
        <button
          mat-icon-button
          (click)="drawer.toggle()"
          class="example-icon"
          aria-label="Example icon-button with menu icon"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <p>Instituto Forum</p>
      </div>
      <div class="userNameContainer" *ngIf="authUser$ | async; let user">
        <button
          class="buttonIconProfile"
          mat-icon-button
          [matMenuTriggerFor]="menu"
        >
          <mat-icon class="sizeIconProfile">person</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button class="logOutContainer" mat-menu-item>
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="exit_to_app"
            ></mat-icon>
            <a (click)="logout()">Cerrar sesion</a>
          </button>
        </mat-menu>
        <div>
          <p>Bienvenido/a :</p>
          <p>{{ user | fullName }}</p>
        </div>
      </div>
    </mat-toolbar>
  </div>
  <div class="tableContainer">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
