.dashboardCointainer{
    height: 100vh;
   
}
.sidenavContainer{
    height: 100vh;
    width: 250px;
    background-color: #333030;
}
.sidenavContainer ul{
   margin-top: 30px;
   padding: 0px;

}
.sidenavContainer ul li{
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px   ;
    padding: 15px;
    border-bottom: 1px solid #C4C4C4;
    cursor: pointer;
}
.sidenavContainer ul li a{
    color: white;
    text-decoration: none;
}
.sidenavContainer ul li mat-icon {
    color: white;
}
.navbarContainer{
    background-color: #6930C3;
    display: flex ;
    justify-content: space-between;
    align-items: center;
}
.userNameContainer{
    display: flex;
    align-items: center;
    color: white;
    font-size: 18px;
    gap: 5px;
    padding: 10px;
}
.userNameContainer p{
    margin: 0px;
}

.iconHomeContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
}
.buttonIconProfile{
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0px;
   padding: 0px;
}

.sizeIconProfile{
    font-size: 30px;
    color: white;
    text-align: center;
    width: 100%;
}
.logOutContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logOutContainer a{
    font-weight: 600;
}